<!DOCTYPE html>
<html>
  <head>
    <title>チャット</title>
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/javascripts/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/util/myUtils.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
  </head>
  <body>
    <a id="logoutLink" href="./user/logout">ログアウト</a><br style="clear:both">
	<div id="main">
		<div id="topArea">
			<div id="logArea">
				<span class='staticInfo'>チャットログ</span>
			</div>
			<div id="rightArea">
				<div id="menbersArea">
					<span class='staticInfo'>オンライン</span>
				</div>
			</div>
		</div>
		<div id="buttomArea">
			<textarea id="messageBox"></textarea>
			<button id="mainButton" onclick=javascript:onClickMainButton()>投稿</button>
		</div>
	</div>
  </body>
</html>